<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Doctors Page</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="../../static/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="../../static/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../../static/css/vendor.bundle.addons.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/css/dstyle.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav
        class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
      >
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center"
        >
          <a class="navbar-brand brand-logo" href="#">
            <img src="../../static/images/logo.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="#">
            <img src="../../static/images/logo.png" alt="logo" />
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
            <li class="nav-item">
              <a href="#" class="nav-link"
                >Schedule <span class="badge badge-primary ml-1">New</span>
              </a>
            </li>
            <li class="nav-item active">
              <a href="#" class="nav-link">
                <i class="fa fa-bar-chart-o"></i>Reports</a
              >
            </li>
            <!-- <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-bookmark-plus-outline"></i>Score</a
              >
            </li> -->
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            
            <li class="nav-item dropdown">
              <a
                class="nav-link count-indicator dropdown-toggle"
                id="notificationDropdown"
                href="#"
                data-toggle="dropdown"
              >
                <i class="fa fa-envelope-o"></i> <span class="count">1</span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="notificationDropdown"
              >
                <a class="dropdown-item">
                  <p class="mb-0 font-weight-normal float-left">
                    You have 1 new notifications
                  </p>
                  <span class="badge badge-pill badge-warning float-right"
                    >View all</span
                  >
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <!-- <i class="mdi mdi-alert-circle-outline mx-0"></i> -->
                      <i class="fa fa-alert"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-medium text-dark">
                      Please set your status to not available when busy
                    </h6>
                    <p class="font-weight-light small-text">Just now</p>
                  </div>
                </a>
               
              </div>
            </li>
            <li class="nav-item dropdown d-none d-xl-inline-block">
              <a
                class="nav-link dropdown-toggle"
                id="UserDropdown"
                href="#"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="profile-text">
                    {% if availble == 1 %}
                    Available
                    {% else %}
                    Not Available
                   {% endif %}
                  
                  
                  <!-- Hello, Dr {{ fullname }} ! -->
                </span>


                 
                <img
                  class="img-xs rounded-circle"
                  src="../../static/images/face1.jpg"
                  alt="Profile image"
                />
              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown"
                aria-labelledby="UserDropdown"
              >
                <a class="dropdown-item p-0">
                  <div class="d-flex border-bottom">
                    <div
                      class="py-3 px-4 d-flex align-items-center justify-content-center"
                    >
                      <i
                        class="mdi mdi-bookmark-plus-outline mr-0 text-gray"
                      ></i>
                    </div>
                    <div
                      class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right"
                    >
                      <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                    </div>
                    <div
                      class="py-3 px-4 d-flex align-items-center justify-content-center"
                    >
                      <i class="fa fa-alarm text-gray"></i>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item" href="/logout"> Sign Out </a>
              </div>
            </li>
          </ul>
          <button
            class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
            type="button"
            data-toggle="offcanvas"
          >
            <span class="fa fa-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <div class="nav-link">
                <div class="user-wrapper">
                  <div class="profile-image">
                    <img 
                    src="../../static/images/face1.jpg"
                    alt="profile image" />
                  </div>
                  <div class="text-wrapper">
                    <p class="profile-name">Dr. {{ fullname }}</p>
                    <div>
                      <small class="designation text-muted">Doctor</small>
                      <span class="status-indicator online"></span>
                    </div>
                  </div>
                </div>
                <form action="/dr" method="POST">
                  <input
                    type="radio"
                    id="yes"
                    value="Yes"
                    name="available"
                    class="btn-switch__radio btn-switch__radio_yes"
                  />
                  <label for="yes" class="btn-switch__label btn-switch__label_yes"
                    ><span class="btn-switch__txt">Yes</span></label
                  >
                  
                  <input
                    type="radio"
                    checked
                    id="no"
                    name="available"
                    value="No"
                    class="btn-switch__radio btn-switch__radio_no"
                  />
                  
                  <label for="no" class="btn-switch__label btn-switch__label_no"
                    ><span class="btn-switch__txt">No</span></label
                  >
                  <button class="btn btn-success btn-block">
                    Update <i class="fa fa-plus"></i>
                  </form>
                </button>
              </div>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="menu-icon fa fa-television"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="menu-icon fa fa-book  "></i>
                <span class="menu-title">Profile</span>

                </form>
              </a>
            </li>
          </ul>
        </nav>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            <div class="row">
              <div
                class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card"
              >
              <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <i
                          class="fa fa-users text-info icon-lg"
                        ></i>
                      </div>
                      <div class="float-right">
                        <p class="mb-0 text-right">Patients</p>
                        <div class="fluid-container">
                          <h3 class="font-weight-medium text-right mb-0">
                            246
                          </h3>
                        </div>
                      </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                      Patients attended to so far
                    </p>
                  </div>
                </div>
                
              </div>

              
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title mb-4">Manage Patients</h5>
                    <div class="fluid-container">
                      
                      {% for x in y %}
                      <div
                      class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3"
                      >
                      <!-- <div class="col-md-1">
                          <img
                            class="img-sm rounded-circle mb-4 mb-md-0"
                            src="images/faces/face1.jpg"
                            alt="profile image"
                          />
                        </div> -->
                        <div class="ticket-details col-md-9">
                          <div class="d-flex">
                            <p
                              class="text-dark font-weight-semibold mr-2 mb-0 no-wrap"
                            >
                              {{ x[2] }} :
                            </p>
                            <p class="text-primary mr-1 mb-0">{{ x[1] }}</p>
                            <p class="mb-0 ellipsis">
                              Time Taken {{ x[7] }}
                            </p>
                          </div>
                          <div class="d-flex">

                          <p class="text-gray">
                           Weight {{ x[3] }} kg
                          </p>
                          <p class="text-gray"  style="margin-left: 10px;">
                           Temperature {{ x[4] }} kg
                          </p>
                          <p class="text-gray"  style="margin-left: 10px;">
                           Blood Pressure {{ x[5] }} kg
                          </p>
                        </div>

                          <div class="row text-gray d-md-flex d-none">
                            <div class="col-4 d-flex">
                              <small class="mb-0 mr-2 text-muted text-muted"
                                >Last responded :</small
                              >
                              <small
                                class="Last-responded mr-2 mb-0 text-muted text-muted"
                                >3 hours ago</small
                              >
                            </div>
                            <div class="col-4 d-flex">
                              <small class="mb-0 mr-2 text-muted text-muted"
                                >Due in :</small
                              >
                              <small
                                class="Last-responded mr-2 mb-0 text-muted text-muted"
                                >2 Days</small
                              >
                            </div>
                          </div>
                        </div>



                        
                        <div class="ticket-actions col-md-2">
                          <div class="btn-group dropdown">
                            <button
                              type="button"
                              class="btn btn-success dropdown-toggle btn-sm"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              Manage
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/diagnostics">
                                <i class="fa fa-reply fa-fw"></i>Diagnose</a
                              >
                             <!--  <a class="dropdown-item" href="#">
                                <i class="fa fa-history fa-fw"></i>Another
                                action</a
                              >
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">
                                <i class="fa fa-check text-success fa-fw"></i
                                >Resolve Issue</a
                              > -->
                              <a class="dropdown-item" href="#">
                                <i class="fa fa-times text-danger fa-fw"></i
                                >Cancel Appointment</a
                              >
                            </div>
                          </div>
                        </div> 

                        {% endfor %}


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span
                class="text-muted d-block text-center text-sm-left d-sm-inline-block"
                >Copyright © 2018
                <a href="dailyupdate.wordpress.com" target="_blank"
                  >Ebenezer Obour Sam</a
                >. All rights reserved.</span
              >
              <span
                class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
                >Hand-crafted & made with
                <i class="fa fa-heart text-danger"></i>
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
  </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="../../static/js/vendor.bundle.base.js"></script>
    <script src="../../static/js//js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../static/js/off-canvas.js"></script>
    <script src="../../static/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../static/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
