<!-- This is where data is read and sent to the dr. -->
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Patient's Form</title>
  
  <link rel="stylesheet" href="">

  
      <link rel="stylesheet" href="../../static/css/prstyle.css">

  
</head>

<body>
  <h1>Patient's Form</h1>
  <form class="cf" action="/readings" method="POST">

    <div class="half left cf">
    <!-- <input type="text" id="input-name" placeholder="Name" name="p_n" required><span> -->
	<input type="number" id="input-number" placeholder="Weight" name="p_w" required></span>
    <input type="number" id="input-number" placeholder="Temperature" name="p_t" required>
    <input type="number" id="input-number" placeholder="Blood Pressure" name="p_bp" required>
	<input type="number" id="input-number" placeholder="NHIS Card No(If Applicable)" name="nhis" required>
   
   
<!--     {% for i in r %}
        {% for b in range(0, i|length) %}
        {{ i[b] }}
        {% endfor%}
    {% endfor %} -->
     

<div style="margin-top: 20px;">

    <p>Please select and available Dr. To send your Detail to</p>
    <select name="availabledr">
        <!-- <option value="dr1">Doctor 1</option>
            <option value="dr2">Doctor 1</option>
            <option value="dr3">Doctor 1</option>
            <option value="dr4">Doctor 1</option> -->
            <!-- {% for i in r %}
            {% for b in range(0, i|length) %}
            <option value=" {{ i[b] }}">
                {{ i[b] }}
            </option>
            {% endfor%}
            {% endfor %}     -->
            
            {% for i in r %}
            <option value=" {{ i[1] }}">
                    Dr. {{ i[0] }}
            </option>
            {% endfor%}          
            Doctor 1</option>
        </select>
        <!-- <textarea name="message" type="text" id="input-message" placeholder="Symptoms"></textarea> -->
        
    </div>
  </div>
  <!-- <div class="half right cf"> -->
  
	<!-- <textarea name="message" type="text" id="input-message" placeholder="Doctors Comments"></textarea>
	<textarea name="message" type="text" id="input-message" placeholder="Prescribed Drugs"></textarea>
	<textarea name="message" type="text" id="input-message" placeholder="Lab Results"></textarea> -->
	<input type="submit" value="Submit" id="input-submit" name="submit1">
    
  <!-- </div>   -->
  
</form>
  
  
</body>
</html>
